// Define variables for your color scheme

// For example:
$red: #F05454;
$blue: #82B2DE;
$light-blue: rgba(#82B2DE, 0.14);
$dark-blue: #3685D6;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #6BA368;
$gray: #0E0000;
$light-gray: #E8E8E8;
$black: #222831;
