// Specific CSS for your home-page

.body-styling {
    min-height: 100%;
    background-size: cover;
    z-index: 0;
    padding-bottom: 68px;
    background: center/cover;
    margin: 0 auto;
}

.hr-styling{
    width: 60%;
    color: $red;
    border: 2px solid $red;
    margin-top: 4px;
}
