// Import page-specific CSS files here.
@import "home";
@import "show";

.category-banner {
  background-size: cover;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-banner h2 {
  color: white;
}
