// Events Show Page

.show-card {
    font-weight: 500;
    color: black;
    border-bottom: 0.5px solid $light-gray;
    margin: 20px 0px;
    padding: 0px 25px;
}

.show-card-avatar {
    font-weight: 500;
    color: black;
    border-bottom: 0.5px solid $light-gray;
    margin: 20px 0px;
}

.show-avatar {
  border-radius: 100%;
  width: 50px;
}

.show-card-desc {
    font-weight: 500;
    color: black;
    border-bottom: 0.5px solid $light-gray;
    margin: 20px 10px 0px 0px;
}

.text-background {
  background-color: $light-blue;
  padding: 10px;
  border: 0.5px solid $blue;
  border-radius: 5px;
}

.event-name-show {
  margin: 20px 0px;
}

.event-info-show {
  margin: 20px 0px;
}

.icon-blue {
  color: $blue;
}

#showmap {
  margin-bottom: 20px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.text-white {
  color: white;
}

.center-text {
  text-align: center;
}

.btn-md {
  width: 143px;
  height: 43px;
}


.img-review {
  border-radius: 100%;
  width: 50px;
}

.fa-star {
  font-size: 26px;
  color: $yellow
}

.comments {
  border-top: 0.5px solid #E8E8E8;
  margin-top: 20px;
  padding-top: 20px;
}

.btn-dropdown {
  background-color: $blue;
  color: white;
}


.level-green {
  background: $green;
  border-radius: 10px;
  padding: 2px 10px;
  color: white;
}

.level-orange {
  background: $orange;
  border-radius: 10px;
  padding: 2px 10px;
  color: white;
}

.level-red {
  background: $red;
  border-radius: 10px;
  padding: 2px 10px;
  color: white;
}

.smaller-h2 {
  font-size: 22px;
}

.smaller-title {
  font-size: 28px;
}

.star-user {
  font-size: 14px !important;
}

.comment-background {
  border-bottom: 0.5px solid $light-gray;
}
