// Events Show Page

.show-card {
    color: black;
    position: relative;
    border-bottom: 0.5px solid white;
    margin: 20px 0px;
}

.sticky {
  position: sticky;
  bottom: 0;
}


#background-description {
  background-color: $light-blue;
  padding: 10px;
}

.event-name-show {
  margin: 20px 0px;
}

.event-info-show {
  margin: 20px 0px;
}

.far, .fas {
  color: $blue;
}

#showmap {
  margin-bottom: 20px;
}

