// Events Show Page

.show-card {
    background-size: cover;
    background-position: center;
    height: 150px;
    padding: 10px;
    display: flex;
    align: center;
    font-size: 22px;
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.sticky {
  position: sticky;
  bottom: 0;
}

.map {
  height: 100px
}
