<%# <div class="opaque-cover"></div> %>
<div class="body-styling" style="background-image: linear-gradient(180deg, rgba(128,128,128,.8), rgba(1128,128,128,0) 50.71%), url(<%= asset_path 'background-image.jpg' %>)">
    <div class="banner">
        <div class="container-fluid mx-auto banner-text" style="width:fit-content;">

            <h1><span id="app-name">Sportify</span></h1>
            <h3 class="banner-text-header">Meet your buddy and go!</h3>

            <div class="search-bar" style="display:block">
                <%= simple_form_for :search, url: events_path, method: "GET", html: { class: 'form-block' } do |f| %>
                <div class="container d-flex btn btn-light" id="button-container">
                  <%= button_tag type: 'submit', class:"search-btn" do %>
                    <i id="search-glas" class="fas fa-search" aria-hidden="true"></i>
                <% end %>
                <div id="search">
                    <%= f.input :location, input_html: {placeholder: "Type your address" }, label:false %>
                </div>
            </div>    
                <% end %>
            </div>
        </div>

    </div>
</div>
