<div class="confetti-land">
  <div class="container">
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
    <h2 class="text-center my-3">🎉 Team 🎉</h1>
    <div class="thx-event">
      <div class="thx-card-content row">
        <div class="thx-card-person col-6">
            <%= image_tag "nick.png", class: "img-thx-avatar" %>
          <p>Nick</p>
        </div>
        <div class="thx-card-person col-6">
            <%= image_tag "camille.jpg", class: "img-thx-avatar" %>
          <p>Camille</p>
        </div>
        <div class="thx-card-person col-6">
            <%= image_tag "sebastian.jpg", class: "img-thx-avatar" %>
          <p>Sebastian</p>
        </div>
        <div class="thx-card-person col-6">
            <%= image_tag "andrei.jpg", class: "img-thx-avatar" %>
          <p>Ioan-Andrei</p>
        </div>
      </div>
    </div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
  </div>
</div>
<script>
var confettiPlayers = [];

function makeItConfetti() {
  var confetti = document.querySelectorAll('.confetti');
  
  if (!confetti[0].animate) {
    return false;
  }

  for (var i = 0, len = confetti.length; i < len; ++i) {
    var candycorn = confetti[i];
    candycorn.innerHTML = '<div class="rotate"><div class="askew"></div></div>';
    var scale = Math.random() * .7 + .3;
    var player = candycorn.animate([
      { transform: `translate3d(${(i/len*100)}vw,-5vh,0) scale(${scale}) rotate(0turn)`, opacity: scale },
      { transform: `translate3d(${(i/len*100 + 10)}vw,105vh,0) scale(${scale}) rotate(${ Math.random() > .5 ? '' : '-'}2turn)`, opacity: 1 }
    ], {
      duration: Math.random() * 3000 + 5000,
      iterations: Infinity,
      delay: -(Math.random() * 7000)
    });
    
    
    confettiPlayers.push(player);
  }
}

makeItConfetti();
</script>