.banner{
    height: 100vh;
    line-height: 100px;
}

.banner-text{
    height: 100%;
    color: white;
    font-family: $body-font;
    line-height: 100px;
    text-align: center;
    padding-top: 40px;
}

.banner-text-header{
    padding-bottom: 10px;
    padding-top: 20px;
}

#button-container{
    padding: 6px !important;
    border-radius: 10px;
    background-color: white;
}

.search-btn {
    background: none;
    color: #495057;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding-left: 20px;
    padding-right: 10px
}

.search-bar{
    justify-content: center;
    width: 100%;
    height: max-content;
    padding-top: 180px;
    display: flex;
}

.search_location{
    margin-bottom: 0;
}

#search input{
    width: 123%;
    border-color: white;
    border: 1px solid #ffffff;
    padding-left: 10px;
}

#search input:focus {
    border-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: black;
    outline: none;
  }

#app-name{
    font-family: "Pacifico";
    color:white;
    font-size: 10vh;
}
