.cards-events {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.card-event {
  max-width: 345px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  text-align: center;
  padding: 0;
  position: relative;
  margin: 0 auto;
}

.card-level {
  text-align: right;
  font-size: 14px;
}

.card-title {
  border-bottom: 1px solid $light-gray;
  display: flex;
  padding-bottom: 15px;
}

.card-title h3 {
  font-size: 18px;
  font-weight: bold;
}

.card-title p {
  font-size: 0.9rem;
  margin: 0;
}

.card-category {
  background: $blue;
  border-radius: 10px;
  padding: 2px 10px;
  color: white;
}

.card-content {
  margin-left: 15px;
}

.img-card-avatar {
  border-radius: 100%;
  width: 74px;
}

.img-card-avatar-booking {
  border-radius: 100%;
  width: 50px;
}

.card-event-description {
  margin: 15px 20px;
  text-align: left;
  padding: 15px 0;
}

.card-details {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card-details p {
  margin: 0;
}

.card-price {
  position: absolute;
  right: 0;
  text-align: right;
}

.card-event a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10; /* Places the link above everything else in the div */
  background-color: #FFF; /* Fix to make div clickable in IE */
  opacity: 0; /* Fix to make div clickable in IE */
  filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.card-profile {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.approve-link {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10; /* Places the link above everything else in the div */
  background-color: #FFF; /* Fix to make div clickable in IE */
  opacity: 1 !important;
}

.menu-height{
  min-height: 20px;
}

.dropdown-z {
  z-index: 15;
}

.dropdown-buttom {
  color: white;
  border-radius: 3px;
}

