.form {

  label {
    font-weight: bold;
  }

   fieldset {
    font-weight: bold;
  }

  input {
    border-radius: 10px;
    border: 1px solid $blue;
  }

  select {
    border-radius: 4px;
    border: 1px solid $blue;
  }

  textarea {
    border-radius: 4px;
    border: 1px solid $blue;
  }
}
.btn-form {
  color: white;
}


