.a-root, .a-root:hover {
  font-family: "Pacifico";
  font-size: 32px;
  text-decoration: none;
  color: $blue;
}

.title-index {
  justify-content: center;
  display: flex;
  margin-top: 17px;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 22px;
}