.illustrations{
    height:40vh;
}

.illustration-pictures{
    height: 100%;
}

.illustration-card{
    color: $light-gray;
    font-weight: bold;
    text-align: center;
}

.illustration-card img{
    max-width:100%;
    max-height:100%;
    padding-bottom: 10px;
}

.illustration-card p{
    margin: 0;
    padding-top: 10px;
}