.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-text p {
  font-size: 10px;
  margin: 0 !important;
}

.navbar-lewagon {
  justify-content: center;
  background: white;
}

.navbar-btn {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.navbar-btn:active {
  text-decoration: none;
}

.navbar-lewagon .navbar-btn img {
  width: 25px;
}
