.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0px;
  z-index: 9999;
}

.nav-img {
  margin: 0 !important;
  font-size: 22px;
}

.nav-img-active {
  margin: 0 !important;
  font-size: 22px;
  color: $blue;
}

.nav-text p {
  font-size: 10px;
  margin: 0 !important;
  display: block;
}

.nav-text-active {
  color: $blue;
  font-weight: bold;
}

.navbar-lewagon {
  justify-content: space-around;
  background: white;
}

.navbar-btn {
  margin: 10px 0;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  color: $gray;
}

.navbar-btn:active, .navbar-btn:hover {
  text-decoration: none;
}

.navbar-lewagon .navbar-btn img {
  width: 25px;
}
